a {
  cursor:pointer;
}
.popover {
  color: black !important;
  text-shadow: none !important;
}
.spacer {
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 150px 0;
}
.caption {
  text-shadow: none;
}
.content-block {
  background: url("../img/content_back.png");
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  color:white;
  text-shadow: 2px 2px black;
}
.about-img {
  max-width:100px;
}
.modal {
   color:white;
}
.modal-header {
   background: url("../img/content_back.png");
}
.modal-body {
   background: url("../img/content_back.png");
}
.panel * {
  text-shadow: none;
  color: black;
}
#spacer1 {
  background: url("../img/spacer_two_back.jpg");
  background-attachment: fixed;
}

#spacer2 {
  background: url("../img/spacer_one_back.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#spacer3 {
  background: url("../img/spacer_three_back.jpg");
  background-attachment: fixed;
  background-size: cover;
}
